<div class="content" style="background-color:white">
		<form name="changePassForm" novalidate>
			<p><font color="#f39c12" size="24" ng-show="Singleton.SessionInfo.operatorType=='newOperator'">
			You are required to change your password to fully activate your account</font></p>
			<p><font color="#f39c12" size="24" ng-show="Singleton.SessionInfo.operatorType != 'newOperator'">
			Change password</font></p>
			
			<input type="password" ng-show="Singleton.SessionInfo.operatorType!='newOperator'"
			 ng-model="currentPass" name="currPass" placeholder="Current password" ng-required="Singleton.SessionInfo.operatorType!='newOperator'"><br>
			<div ng-show="changePassForm.password.$dirty && changePassForm.password.$invalid">
				<small style="color: red; display: block; text-align: center;">Enter a valid password</small>
			</div>
			
			<input type="password" ng-model="newPass" name="password" placeholder="New password" ng-required="true"><br>
			<div ng-show="changePassForm.password.$dirty && changePassForm.password.$invalid">
				<small style="color: red; display: block; text-align: center;">Enter a valid password</small>
			</div>
			
			<input type="password" ng-model="RetypedNewPass" name="RetypedPassword" placeholder="Retype new password" ng-required="true"><br>
			<div ng-show="changePassForm.password.$dirty && changePassForm.password.$invalid || RetypedNewPass != newPass">
				<small style="color: red; display: block; text-align: center;">Passwords mismatch</small>
			</div>
			
			<input ng-show="Singleton.SessionInfo.operatorType=='newOperator'"
			 type="submit" value="Change password" ng-click="changePassword(newPass)" ng-disabled="changePassForm.$invalid || RetypedNewPass != newPass"/>
			 
			 <input ng-show="Singleton.SessionInfo.operatorType!='newOperator'"
			 type="submit" value="Change password" ng-click="userChangePassword(currentPass, newPass)" ng-disabled="changePassForm.$invalid || RetypedNewPass != newPass"/>
			<p><font color="#4476ce">{{message}}</font></p>
			
		</form>
</div>