<div class="content" style="background-color:white">
<form name="forgotForm" novalidate>
		<p><font color="#f39c12" size="14">Forgot password: </font></p>
		<br>
		<p><font color="#edb153">Please provide your account username:</font></p>
		<input type="text" ng-model="user.username" placeholder="Username" name="username" ng-required="true"><br>
		<div ng-show="forgotForm.username.$dirty && forgotForm.username.$invalid">
			<small style="color: red; display: block; text-align: center;">Enter a valid username</small>
		</div>
		<input type="submit" value="Request reset" ng-click="forgotPassword()" ng-disabled="forgotForm.$invalid"/>
		<br>
		<p><font color="#4476ce">{{message}}</font></p>
		<br>
	</form>