<div class="content" style="background-color:white">
	<form name="imagePreviewForm" id="myUploadsForm" novalidate>
		<p><font color="#f39c12" size="24">Owned images: </font></p>
		<p><font color="#4476ce">{{message}}</font></p>
		
		<ul>
			<li ng-repeat="image in imageData">
				<p>{{image.info.name}} - {{image.info.location}} - Rating: {{image.info.rating}} - Sales: {{image.info.sales}}</p>
				<img ng-src="data:image/png;base64, {{image.data}}"/>
				<input type="submit" ng-click="send(image)" value="Send" style="width: 100px;"/>
			</li>
		</ul>
		
	</form>
</div>