<div class="content" style="background-color:white">
<form name="resetForm" novalidate>
		<p><font color="#f39c12" size="14">Password reset: </font></p>
		<br>
		<p><font color="#edb153">Enter your new password:</font></p>
		<input type="password" ng-model="user.password" placeholder="New password" name="password" ng-required="true"><br>
		<div ng-show="resetForm.password.$dirty && resetForm.password.$invalid">
			<small style="color: red; display: block; text-align: center;">Enter a valid password</small>
		</div>
		<input type="submit" value="Set password" ng-click="resetPassword()" ng-disabled="resetForm.$invalid"/>
		<br>
		<p><font color="red">{{message}}</font></p>
		<br>
	</form>